<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
<!--USDRUB_990801_201010.txt-->
<div class="form">
    <form action="/racks" method="POST">
        <input type="text" name="path" id="path">
        <button type="submit">Show</button>
    </form>
    <form action="/find" method="POST">
        <input type="text" name="filename" id="filename">
        <button type="submit">Find</button>
    </form>
    <form action="/folder" method="POST">
        <input type="text" name="folder" id="folder">
        <button type="submit">Hierarchy</button>
    </form>
    {% if error %}
    <div id="path_message">
        {{ error }}
    </div>
    {% endif %}
    {% if path %}
    <div id="path_message" onclick="copyToClipBoard('#path_text')">
        <span id="path_text">{{ path }}</span><span>📋</span>
    </div>
    {% endif %}
    <script>
        function copyToClipBoard(element) {
            const text = document.querySelector(element);

            function copy() {
                const textarea = document.createElement("textarea");
                textarea.setAttribute("readonly", "");
                textarea.value = text.innerText;
                textarea.style.position = "absolute";
                document.body.appendChild(textarea);
                textarea.select();
                navigator.clipboard.writeText(textarea.value);
                textarea.remove();
            }

            copy();
        }
    </script>
</div>
</body>
</html>